<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.jonathanweidner.astra.cal</string>
  <key>CFBundleName</key>
  <string>Astra</string>
  <key>NSCalendarsUsageDescription</key>
  <string>Astra zeigt im Studienplaner deine Vorlesungen und Klausuren aus dem Kalender an.</string>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>Astra zeigt im Studienplaner deine Vorlesungen und Klausuren aus dem Kalender an.</string>
</dict>
</plist>
